/// Fichier SCSS pour les styles des boites (boxes)

@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:map';
@use 'sass:color';

.box {

    background-color: $primary-color;
    border-radius: 1rem;
    border: 1px solid #E2E8F0;
    box-shadow: 0 20px 25px -5px color.change($secondary-border-color, $alpha: 0.6), 0 8px 10px -6px color.change($secondary-border-color, $alpha: 0.6);
    padding: 1.5rem;

    &-secondary {

    }
    &-tertiary {
        background-color: #F0F9FF;
        border: 1px solid #BAE6FD;
        box-shadow: none;
    }
}