/// Fichier SCSS pour les styles des boites (boxes)

@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:map';
@use 'sass:color';

.box {

    background-color: $box-background-primary;
    border-radius: 1rem;
    border: 1px solid $border-color-secondary;
    box-shadow: 0 20px 25px -5px color.change($border-color-secondary, $alpha: 0.6), 0 8px 10px -6px color.change($border-color-secondary, $alpha: 0.6);
    padding: 1.5rem;
    overflow: hidden;

    &-secondary {
        background-color: $box-background-secondary;
        border: 1px solid $box-border-secondary;
        box-shadow: none;
    }
}

