/// Fichier SCSS pour les styles de texte

@use '../utils/variables' as *;
@use 'sass:map';

.text {
    &-blue {
        color: $secondary-color;
    }
    &-info {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: $info-text-secondary;
    }
    &-link {
        text-decoration: underline;
        text-underline-offset: 2px;
        
        &:hover {
            color: $secondary-color;
            cursor: pointer;
        }
    }
    &-bold {
        font-weight: 700;
        color: $secondary-background-color;
        font-size: map.get($font-size, 'small');
    }
}
.title {
    font-size: map.get($font-size, 'large');
    font-weight: 800;
    color: $secondary-background-color;
    &-big {
        margin-bottom: 0.75rem;
        line-height: 1.25;
        @media (min-width: 640px) {
            font-size: 2.25rem;
        }
    }
    &-medium {
        font-size: map.get($font-size, 'heading');
        margin-bottom: 0.25rem;
    }
    &-category {
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &-box {
        font-weight: 700;
        color: $secondary-background-color;
        margin-bottom: 0.75rem;
        font-size: map.get($font-size, 'standard');
    }
}