/// Fichier SCSS pour les variables

@use 'sass:map';


/// Couleurs du site
$primary-color: #FFF;
$secondary-color: #38BDF8;
$tertiary-color: #4e5a69; // #64748B - footer text
$info-text-primary: #7c8ea8; // footer copyright/conformité
$info-text-secondary: #58616d; // #94A3B8 - hero banner features

$background-color-primary: #F8FAFC;
$background-color-secondary: #0F172A;
$background-color-tertiary: #FFF;

$link-color: #8797ac; // #90A1B9 footer links

$text-extra: #0284C7;

$border-color-primary: #1E293B;
$border-color-secondary: #E2E8F0;

$box-border-color: #CBD5E1; // checkbox
$box-border-secondary: #BAE6FD;
$box-background-primary: #FFF;
$box-background-secondary: #F0F9FF;

$star-color: #FBBF24; // review stars color
$feature-background: #F1F5F9; // feature tag background

$hover-shadow: rgba(255, 255, 255, 0.1);
$hover-shadow-light: rgba(0, 0, 0, 0.1);

$btn-active: #075985;
$btn-primary-background: #0369A1;
$btn-secondary-background: #FFF;
$btn-tertiary-background: #F0F9FF;

$btn-secondary-color: #E11D48;

$highlight-color: #F43F5E;
$highlight-color-light: #FDA4AF;
$highlight-background: #FFF1F2;
$highlight-border: #FECDD3;

$highlight-success: #2c9454;
$highlight-success-light: #cfeedb;

$primary-radius: 0.75rem;

$container-max-size: 80rem;
$container-vertical-padding: 3rem;
$container-horizontal-padding: 1rem;
$container-padding-small: 1.5rem;

/// Tailles de police de texte
$font-size: (
    root: 16px,
    footer-text: 0.688rem,
    extra-small: 0.75rem, // yes
    small: 0.875rem, // yes
    standard: 1rem, // yes on h2
    large: 1.25rem, // yes on price
    heading-small: 1.125rem, // contact box title
    heading: 1.875rem, //yes
    heading-big: 2.25rem, //yes h1 page-info
    medium: 1.5rem,

    paragraph: 0.9375rem, //yes

    big: 3.625rem,
);


$primary-font: ui-sans-serif, system-ui, sans-serif;





