/// Fichier SCSS pour les styles du footer

@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:map';

.container {
    position: relative;
    
    margin: auto;

}

.page-info {
    @include flex-start-space-between;
    margin-bottom: 2.5rem;
    span {
        color: $tertiary-color;
        font-size: map.get($font-size, 'small');
    }
}