/// Fichier SCSS pour les styles de la page contact.html

@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:color';
@use 'sass:map';


.contact {
    @include container(4rem, 4rem);
    &-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2.5rem;
        align-items: start;

        @media (min-width: 1024px) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
        &-form {
            @media (min-width: 1024px) {
                grid-column: span 3 / span 3;
            }
        }
        &-info {
            > div:not(:first-child) {
                margin-top: 1.25rem;
            }
            @media (min-width: 1024px) {
                grid-column: span 2 / span 2;
            }
        }
    }
    &-form {
        > * {
            margin-top: 1.25rem;
        }
        &-container {
            background-color: $primary-color;
            border-radius: 1rem;
            border: 1px solid $border-color-secondary;
            box-shadow: 0 10px 15px -3px color.change($feature-background, $alpha: 0.8), 0 4px 6px -4px color.change($feature-background, $alpha: 0.8);
            padding: 2rem
        }
        &-title {
            @include flex-space-between;
            margin-bottom: 2rem;
        }
        &-row {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 1rem;

            @media (min-width: 640px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}
.contact-info {
    &-details {
        background-color: $background-color-secondary;
        border-radius: 1rem;
        padding: 1.75rem;
        color: $primary-color;
        h2 {
            font-weight: 700;
            font-size: map.get($font-size, 'heading-small');
            margin-bottom: 0.25rem;
        }
        > p {
            color: $secondary-color;
            font-size: map.get($font-size, 'extra-small');
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 1.5rem;
        }
        &-container {
            & > :not(:first-child) {
                margin-top: 1.25rem;
            }
        }
        &-line {
            display: flex;
            align-items: flex-start;
            gap: 0.875rem;
            div:first-of-type {
                width: 2.25rem;
                height: 2.25rem;
                border-radius: $primary-radius;
                background-color: rgba(255, 255, 255, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                margin-top: 0.125rem;
            }
            div > p:first-of-type {
                color: $info-text-reverse;

                font-size: map.get($font-size, 'extra-small');
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                margin-bottom: 0.125rem;
            }
            div > p:last-of-type {
                color: $primary-color;
                font-size: map.get($font-size, 'small');
                line-height: 1.625;
                white-space: pre-line;
            }
            svg {
                color: $text-extra;
            }
        }
    }
    &-bullet {
        background-color: $box-background-secondary;
        border: 1px solid $box-border-secondary;
        border-radius: 1rem;
        padding: 1.25rem;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        &-icon {
            width: 2.5rem; 
            height: 2.5rem;
            border-radius: $primary-radius;
            background-color: color.change($text-extra, $alpha: 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            svg {
                color: $text-extra;
            }
        }
        &-text {
            p:first-of-type {
                font-weight: 600;
                color: $background-color-secondary;
                font-size: map.get($font-size, 'small');
                margin-bottom: 0.25rem;
            }
            p:last-of-type {
                color: $tertiary-color;
                font-size: map.get($font-size, 'extra-small');
                line-height: 1.625;
            }
        }
    }
    &-featured-review {
        background-color: $primary-color;
        border: 1px solid $border-color-secondary;
        border-radius: 1rem;
        padding: 1.25rem;
        &-rating {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            margin-bottom: 0.75rem;
            span {
                font-size: map.get($font-size, 'small');
                font-weight: 700;
                color: $background-color-secondary;
            }
        }
        p {
            font-size: map.get($font-size, 'extra-small');
        }
        p:first-of-type {
            color: $tertiary-color;
            line-height: 1.625;
            font-style: italic;
        }
        p:last-of-type {
            font-weight: 600;
            color: $background-color-secondary;
            margin-top: 0.5rem;
        }
    }
}
.team {
    background-color: $primary-color;
    border-top: 1px solid $feature-background;
    padding: 5rem 0;

    &-inner {
        @include container;
    }
}
.carousel {
    position: relative;
    &-inner {
        overflow: hidden;
    }
    &-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.25rem;
        transition: opacity 300ms ease;
        opacity: 1;

        @media (min-width: 640px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
    &-controls {
        @include flex-center;
        gap: 1rem;
        margin-top: 2rem;
    }
    &-dots {
        display: flex;
        gap: 0.5rem;
    }
}
.carousel-card {
    text-align: center;
    &:hover {
        .carousel-card-image img {
            transform: scale(1.05);
        }
        .carousel-card-image-hover-gradiant {
            opacity: 1;
        }
    }
    &-image {
        position: relative;
        margin: 0 auto;
        width: 7rem;
        height: 7rem;
        border-radius: 1rem;
        overflow: hidden;
        background-color: $border-color-secondary;
        margin-bottom: 1rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        transition: all 300ms ease;
        @media (min-width: 640px) {
            width: 8rem;
            height: 8rem;
        }
        img {
            @include image-cover;
            object-position: top;
            transition: transform 500ms ease;
        }
        &-hover-gradiant {
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, color.change($background-color-secondary, $alpha: 0.4), transparent); // bg-gradient-to-t from-[#0F172A]/40 to-transparent
            opacity: 0;
            transition: opacity 300ms ease;
        }
    }
    p:first-of-type {
        font-weight: 600;
        color: $background-color-secondary;
        font-size: map.get($font-size, 'small');
        margin-bottom: 0.125rem;
    }
    p:last-of-type {
        font-size: map.get($font-size, 'extra-small');
        color: $text-extra;
        font-weight: 500;
    }
    &-mail {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        color: $secondary-color;
        svg: {
            fill: $secondary-color;
        }
    }
}
/// Necessaire pour afficher dans la page pour que le <p> avec aria-live="polite" et role="status"
///  soit fonctionnel sur les lecteurs d'ecran (espace visible)
/// Explication: Les utilisateurs avec vision ne voit rien, les utilisateurs malvoyants ecoute l'info avec les lecteurs d'ecran

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.location {
    @include container(0, 4rem);

    &-box {
        @include flex-col-center;
        gap: 0.75rem;
        height: 14rem;
        background: linear-gradient(to bottom right, #F1F5F9, #F0F9FF, #F1F5F9);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
        @media (min-width: 640px) {
            height: 18rem;
        }
    }
    &-icon {
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
        background-color: color.change($text-extra, $alpha: 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: $text-extra;
        }
    }
    &-adress {
        text-align: center;
        p {
            text-align: center;
        }
        p:first-of-type {
            font-weight: 600;
            color: $background-color-secondary;
            font-size: map.get($font-size, 'small');
        }
        p:last-of-type {
            color: $info-text-secondary;
            font-size: map.get($font-size, 'extra-small');
            margin-top: 0.25rem;
        }
    }
}