/// Fichier SCSS pour les styles de la page espace.html

@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:map';
@use 'sass:color';

.space {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @media (min-width: 640px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
.space-images {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.75rem;
    margin-bottom: 3rem;
    height: 260px;
    border-radius: 1rem;
    overflow: hidden;
    @media (min-width: 640px) {
        height: 400px;
    }
    img {
        @include image-cover;
        transition: transform 700ms ease;
        &:hover {
            transform: scale(1.05);
        }
    }
    &-primary {
        grid-column: span 2 / span 2;
        background-color: $secondary-border-color;
        overflow: hidden;
    }
    &-side {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        div:first-child {
            flex: 1;
            background-color: $secondary-border-color;
            overflow: hidden;
            border-top-right-radius: 1rem; 
        }
        div:last-child {
            flex: 1;
            background-color: $secondary-border-color;
            overflow: hidden;
            border-bottom-right-radius: 1rem;
        }

    }
}
.space-details {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2.5rem;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &-info {
        & > * + * {
            margin-top: 2.5rem;
        }

        @media (min-width: 1024px) {
            grid-column: span 2 / span 2;
        }
        div:first-child {
            p {
                font-size: map.get($font-size, 'paragraph');
                color: $info-text-primary;
                line-height: 1.625;
            }
        }
        
    }
}
.space-details-features {
    h2 {
        font-size: 1.25rem;
        font-weight: 700;
        color: $secondary-background-color;
        margin-bottom: 1.25rem;
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0.75rem;
        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        li {
            @include flex-start;
            gap: 0.75rem;
            font-size: map.get($font-size, 'small');
            color: #334155; 
            background-color: $primary-color;
            border: 1px solid $feature-background;
            border-radius: 0.75rem;
            padding: 0.75rem 1rem;
            svg {
                color: $text-extra;
            }
        }
    }
}
.space-details-config {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    color: $info-text-primary;
    font-size: map.get($font-size, 'small');
}
.space-details-princing {
    position: sticky;
    top: 7rem;
    &-list {
        & > * + * {
            margin-top: 0.25rem;
        }
        margin-bottom: 1.75rem;
    }
    &-line {
        @include flex-space-between;
        padding: 0.75rem 0;
        border-bottom: 1px solid $feature-background;
        div {
            @include flex-start;
            gap: 0.5rem;
            color: $tertiary-color;
            font-size: map.get($font-size, 'small');
        }
        > span {
            font-family: monospace;
            font-weight: 800;
            font-variant-numeric: tabular-nums;
            color: $secondary-background-color;
            font-size: 1.25rem;
        }
        &-highlight {
            div {
                font-weight: 600;
                color: $secondary-background-color;
                > svg {
                    color: $text-extra;
                }
            }
            > span {
                font-family: monospace;
                font-weight: 800;
                font-variant-numeric: tabular-nums;
                color: $text-extra;
                font-size: map.get($font-size, 'medium');
            }
        }
    }
    &-cta {
        & > * + * {
            margin-top: 0.75rem;
        }
    }
    &-note {
        text-align: center;
        font-size: map.get($font-size, 'extra-small');
        color: $info-text-secondary;
        margin-top: 1rem;
        line-height: 1.625;
    }
}