/// Fichier SCSS pour les styles de la page d'accueil (index.html)

@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'sass:map';
@use 'sass:color';


//
// Section recherche des espaces
//
.space_search {
    background-color: $box-background-primary;
}
.search {
    @include container(0.875rem, 0.875rem);

    @include flex-start-wrap;
    gap: 0.75rem;

    &-options {
        @include flex-center;
        gap: 0.75rem;
    }
    &-filter {
        @include flex-center;
        gap: 0.375rem;
        color: $info-text-secondary;
        font-size: map.get($font-size, 'extra-small');
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    &-divider {
        width: 1px;
        height: 1rem;
        background-color: $border-color-secondary;
    }
    &-select {
        padding: 0.5rem 0.75rem;
        border: 1px solid $border-color-secondary;
        border-radius: 0.5rem;
        font-size: map.get($font-size, 'small');
        color: $background-color-secondary;
        background-color: $primary-color;
        cursor: pointer;
        transition: all 150ms ease;
        border-color: $border-color-secondary;

        &:focus {
            outline: none;
            border-color: $secondary-color;
            box-shadow: 0 0 0 2px color.change($secondary-color, $alpha: 0.5);
        }
    }
    &-label {
        @include flex-center;
        gap: 0.5rem;
        cursor: pointer;
        font-size: map.get($font-size, 'small');
        color: $info-text-primary;
        transition: color 150ms ease;
        user-select: none;
        font-weight: 500;
        &:hover {
            color: $text-extra;
        }
    }
    &-checkbox {
        width: 1rem;
        height: 1rem;
        border-radius: 0.25rem;
        border-color: $box-border-color;
        accent-color: $text-extra;
        cursor: pointer;
    }
}
.spaces {
    @include container;
}
.spaces-card-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}